header {
  @include layout;
  @include padding(rem(24) 0);
  display: flex;
  position: relative;

  @include media($desktop) {
    @include padding(rem(40) 0);
  }

  .logo-container {
    @include span-columns(10);
    padding: 0;
    margin: 0 0 0 rem(-2);

    a {
      @include size(220px 21px);
      @include hide-text;
      display: block;
      background: url('/images/logo.svg') no-repeat center center;
      background-size: 220px auto;

      @include media($desktop) {
        @include size(310px 32px);
        background-size: 310px auto;
      }

    }

  }//.logo-container

}// header
