header {
  position: relative;
  @include layout;
  @include padding(rem(24) 0);
  display: flex;

  @include media($desktop) {
    @include padding(rem(40) 0);
  }

  .logo-container {
    @include span-columns(10);
    padding: 0;
    margin: 0 0 0 rem(-2);

    a {
      @include size(220px 21px);
      @include hide-text;
      display: block;
      background: url('/images/logo.svg') no-repeat center center;
      background-size: 220px auto;

      @include media($desktop) {
        @include size(310px 32px);
        background-size: 310px auto;
      }

    }

  }//.logo-container

  .main-nav {
    @include span-columns(20);
    @include omega;
    float: right;
    text-align: right;
    text-transform: uppercase;
    display: none;

    @include media($desktop) {
      display: block;
    }

    a {
      display: inline-block;
      margin-left: rem(50);
      font-size: rem(20);

      &:hover {
        text-decoration: none;
        color: #3b3b3b;
      }
    }

  }

}// header
