.main-nav {
  @include position(fixed, 0 0 0 0);
  transition: opacity $base-duration $base-timing;
  background-color: rgba(255, 255, 255, .92);
  text-align: center;
  z-index: 100;
  padding-top: rem(80);
  visibility: hidden;
  opacity: 0;

  @include media($desktop) {
    display: block;
    position: relative;
    background-color: transparent;
    @include span-columns(20);
    @include omega;
    float: right;
    text-align: right;
    padding-top: 0;
    visibility: visible;
    opacity: 1;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  a {
    display: block;
    font-size: rem(30);
    text-transform: uppercase;
    margin-bottom: rem(20);
    text-decoration: none;

    @include media($desktop) {
      display: inline-block;
      margin-left: rem(50);
      margin-bottom: 0;
      font-size: rem(20);
    }

    &:hover {
      text-decoration: none;
      color: #3b3b3b;
    }

    &.active {

      @include media($desktop) {
        text-decoration: underline;
        color: #3b3b3b;
      }

    }

  }

}

.hamburger-icon {
  @include position(absolute, 13px -11px null null);
  z-index: 101;
  @include size(44px);
  display: block;
  cursor: pointer;
  text-indent: -9999em;
  -webkit-tap-highlight-color: transparent;
  padding-top: 20px;

  @include media($desktop) {
    display: none;
  }

  a,
  a::before,
  a::after {
    @include transition(all $base-duration $base-timing);
    @include size(30px 2px);
    cursor: pointer;
    background: $dim-gray;
    position: absolute;
    display: block;
    content: '';
  }

  a:before {
    top: -9px;

  }

  a:after {
    bottom: -9px;

  }

  &.active {

    a {
      background-color: transparent;

      &:before {
        @include transform (rotate(45deg));
        top: 0;
        width: 30px;
      }

      &:after {
        @include transform (rotate(-45deg));
        top: 0;
        width: 30px;
      }

    }

  }

}
